.faq-section {
  background-color: #f9f9f9;
}

.card-header .btn {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.card-header .btn:hover {
  text-decoration: none;
  color: #0056b3;
}

/* Override Bootstrap CSS */
.accordion-button {
  font-weight: bold;
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}